.navbar-expand-lg{
    background-color: $colorPrim;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;

    img{
        width: 200px;
        max-width: 400px;
        padding: 15px 15px;
    }

    ul{
        justify-content: end;

        li{
            list-style-type: none;
            padding: .5em;

            a{
                color: $colorSec;
                text-decoration: none;
            }
        }
    }
}
